html {
    background-color: #ADD8E6;
}

.center {
    margin: auto;
    padding-top: 10px;
   
}

body, select, #submit {
    font-family: 'Russo One', sans-serif;
    
    
    
}

a {
    font-size: 30px;
}

p {
    font-size: 12px;
}

#rssMarkup {
    padding: 25px 20px 5px 45px;
    margin: 30px 25px;
    box-shadow: 20px 20px 10px #00688B;
    background-color: #F0FFFF;	
    border-radius: 10px;
}


.img {
    margin-left: 7%;
    width: 80%;
    padding:5px;
}
#title {
    text-align: center;
    
    
}

#container {
    width: 80%;

}

#left {
    width: 20%;
    float: left;
    position: fixed;
}

#right {
    width: 60%;
    float: right;
    position: relative;
}